@charset "utf-8";
/* CSS Document */

/*reset*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select,figure { margin:0; padding:0; }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block};
em { font-style:normal; }
li { list-style:none; }
a{ text-decoration:none; outline:none; }
img { border:none; vertical-align:top; }
body { font-size:16px; font-family:"微软雅黑",sans-serif; background:#e9eaee;}

.clear{zoom:1;}
.clear:after{content:'';display:block;; clear:both;}
.fl{ float:left;}
.fr{ float:right;}
input{ -webkit-appearance:none; }
input:focus{ box-shadow:0px 0px 4px #357bff; }
/*reset end*/
/*header*/
header{ background: #fffffb; margin-bottom: 10px; }

#header-box{ width: 1200px; height: 40px; margin: 0 auto; }
#header-left img{ margin-top: 8px; margin-right: 30px; }
#header-left strong{ font-size: 14px; line-height: 40px; color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal; }

#header-right{ margin-right: 10px; position: relative;}
#header-right a:not(.not-float){ float: left; margin-top: 10px; margin-left: 36px; }
#header-right span{  width: 22px; height: 22px; float: left;}
#header-right a:nth-of-type(1) span{ background: url(../img/list/header_icon.png) no-repeat; }
#header-right a:nth-of-type(2) span{ background: url(../img/list/header_icon.png) no-repeat -58px 0; }
#header-right a:nth-of-type(3) span{ background: url(../img/list/header_icon.png) no-repeat -109px 0; }
#nav-list{ position: absolute; left: 36px; top: 40px; border: 1px solid #cacaca;  border-bottom: none; display: none; background: #fff; }
#nav-list li{ width: 130px; height: 40px; text-align: center; line-height: 40px; border-bottom: 1px solid #cacaca; color: #333;}
#nav-list li:hover{ background: #eee; }

/*container*/
#container{ width: 1200px; margin: 0 auto; background: #fbfbfb; border-radius: 5px; border: 1px solid #d4d4d4; }
/*main*/

.main-title{ height: 49px; border-bottom: 1px solid #d4d4d4; color: #333333;}
.main-title h2:nth-of-type(1) a{ font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal; line-height: 49px; margin-left: -4px; }
.main-title strong{ font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal;  margin-left: 16px;}

.main-title h2:nth-of-type(2){}
#add-active,#return{ width: 94px; height: 33px;font-size: 14px; color: #fff; font-family:"微软雅黑",sans-serif;font-weight: normal; margin-right: 14px; background: #5890ff; display: inline-block; border-radius: 5px; line-height: 33px;text-align: center; margin-top: 8px;}

/*search-group*/
.search-group{ padding-top: 28px; padding-bottom: 30px; background: #fbfbfb; }
/*
正式上线时top和bottom要做样式合并优化
*/
/*search-top*/
#search-top{ line-height: 35px;  margin-bottom: 30px;}
#search-top input{ height: 33px; border-radius: 5px; outline: none; border: 1px solid #cacaca; font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif;}
#search-top label{   font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; }
#search-top div:nth-of-type(1):not(.wrap){ margin-left: 26px; }
#title-input{ width: 217px; padding-left: 4px;}

#search-top div:nth-of-type(2):not(.wrap){ margin-left: 45px; position: relative;}
#search-top a{ width: 24px; height: 33px; background: #e9eaee url(../img/list/area_icon.png) no-repeat 7px 15px; border-radius: 0 5px 5px 0; position: absolute; right: 0px; top: 0px; }
.wrap{ position: relative; width: 88px; height: 33px;   font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; border-radius: 5px;  border:  1px solid #cacaca; float: right;}
.select-result{ margin-left: 4px; }
#active-type{ width: 88px; position: absolute; right: 0; top: 35px; border: 1px solid #cacaca; display: none; z-index: 100; cursor: pointer; }
#active-type li{ text-align: center;  font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; background: #fff;}
#active-type li:hover{ background: #eee; }
#search-top div:nth-of-type(3):not(.wrap){ margin-left: 60px; }
#search-top .start,#search-top .to{ width: 100px; padding-left: 4px;}

/*search-bottom*/
#search-bottom{ line-height: 35px;  margin-bottom: 30px;}
#search-bottom input{ height: 33px; border-radius: 5px; outline: none; border: 1px solid #cacaca; font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif;}
#search-bottom label{   font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; }
#search-bottom div:nth-of-type(1):not(.wrap){ margin-left: 26px; }
#address-input{ width: 217px; padding-left: 4px;}

#search-bottom div:nth-of-type(2):not(.wrap){ margin-left: 45px; position: relative;}
#search-bottom a{ width: 24px; height: 33px; background: #e9eaee url(../img/list/area_icon.png) no-repeat 7px 15px; border-radius: 0 5px 5px 0; position: absolute; right: 0px; top: 0px; }
.wrap{ position: relative; width: 88px; height: 33px;   font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; border-radius: 5px;  border:  1px solid #cacaca; float: right; cursor: pointer;}
.select-result{ margin-left: 14px; }
.s1{ margin-left: 0px; text-align: center; display: inline-block; width: 65px; }

#active-status{ width: 88px; position: absolute; right: 0; top: 35px; border: 1px solid #cacaca; display: none; z-index: 999; cursor: pointer;}
#active-status li{ text-align: center;  font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; background: #fff; }
#active-status li:hover{ background: #eee; }
#search-bottom div:nth-of-type(3):not(.wrap){ margin-left: 60px; padding-left: 14px; }
#search-bottom .start,#search-bottom .to{ width: 90px; padding-left: 14px;}
#search-bottom div:nth-of-type(4):not(.wrap){ margin-right: 100px; }
#check{width: 90px; height: 33px;font-size: 14px; color: #fff; font-family:"微软雅黑",sans-serif;font-weight: normal; margin-right: 14px; background: #5890ff;  border-radius: 5px; line-height: 33px;text-align: center; outline: none; border: none;  cursor: pointer;}

/*founder*/
#founder{width: 100px; padding-left: 4px;  }
/*日历控件*/
#d4311{ background: none; }
#d4312{ background: none; }
/*result-group*/
.result-box{ width: 1175px; margin: 0 auto; border: 1px solid #cacaca; border-radius: 5px; border-bottom: none; }
.fill{ padding-top: 26px; background: #e6eeff; }

/*result-unit*/
.s-unit{ height: 230px; padding-bottom: 30px; border-bottom: 1px solid #d7d7d7; position: relative;  }
.s-unit figure{ margin: 42px 30px 0px 18px; }
.s-unit img{ width: 236px; height: 155px; }

.activity-details{ margin-top: 42px; }
.activity-details p{ margin-bottom: 8px; line-height: 14px; }
.activity-details span{  font-size: 14px; color: #454545; font-family:"微软雅黑",sans-serif;font-weight: normal; }
.activity-title{ height: 16px; margin-bottom: 10px;  font-size: 16px; color: #454545; font-family:"微软雅黑",sans-serif;font-weight: normal; line-height: 16px; }

.activity-operate{ margin-top: 26px; margin-right: 88px; width: 96px; }
.activity-operate li{ margin-bottom: 7px; }
.activity-operate a{ min-width: 56px; height: 28px; padding: 0px 13px; line-height: 28px; background: #5890ff; border-radius: 5px; font-size: 14px; color: #ffffff; font-family:"微软雅黑",sans-serif; text-align: center; display: inline-block; }
.activity-operate li:nth-of-type(1){  font-size: 14px; color: #454545; font-family:"微软雅黑",sans-serif; margin-bottom: 16px;}
.can-use{color: #3aa73f;}
.not{ color: #d94747; }
.cancle-unit{ position: absolute; right: 15px; bottom: 15px;  font-size: 16px; color: #f00; font-family:"微软雅黑",sans-serif; }
/*pagination*/
#paging-box{ padding: 30px 0; text-align: center;}

#paging-box li{  display: inline-block; margin: 0 5px; height: 23px;border: 1px solid #dcdcdc; line-height: 23px; }
#paging-box a{  padding: 0 10px; color: #9e9d9d;font-size: 16px; font-family: "微软雅黑",sans-serif;  }
#paging-box .now-page{  border: 1px solid #5890ff; background: #5890ff; color: #fff;  }
#paging-box .now-page a{color: #fff;}
#paging-box .disabled{ visibility: hidden; }


/*预览*/
/*preview*/
#preview-page{ width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: fixed; top: 0; z-index: 99999; display: none;}
.page-container{ width: 433px; height: 709px; margin: 60px auto; background: #f1f0f6; }
#pre-page{ background: #f1f0f6; position: relative; }
.f1 img{ width: 433px; height: 250px; }

.f2{ position: relative;}
.f2-sub{ width: 420px; height: 116px; margin: 8px auto; padding-top: 10px;  background: #fff; border-radius: 5px;  }
.f2-sub p{ text-indent: 40px;margin-bottom: 10px;font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333;}
#pre-title{ margin-bottom: 8px; font-size: 16px; font-family: "微软雅黑",sans-serif; color: #333; font-weight: normal; text-indent: 12px; }
#pre-founder{ background: url(../img/list/preview_icon.png) no-repeat 14px 2px; }
#pre-founder a{ margin: 0 10px; color: #3b5b98; }
#pre-time{ background: url(../img/list/preview_icon.png) no-repeat 15px -26px; }
#pre-time span{ margin-right: 14px; }
#pre-address{ width: 300px; overflow: hidden; text-overflow:ellipsis;white-space:nowrap; background: url(../img/list/preview_icon.png) no-repeat 15px -56px; height: 19px; }
#pre-address a{ color: #3b5b98; }
.small{ position: absolute; right: 14px; bottom: 14px; }
.small a{ width: 50px; height: 21px; margin: 0 auto; color: #719ff9; border: 1px solid #acacac; border-radius: 5px; display: block; font-size: 10px; font-family: "微软雅黑",sans-serif; line-height: 21px; text-align: center; }
.small span{ font-size: 10px; font-family: "微软雅黑",sans-serif; color: #a7a7a7;}

.f3-sub{ width: 420px; height: 97px; margin: 0px auto; margin-bottom: 6px; padding-top: 10px;  background: #fff;border-radius: 5px;  }
.f3-sub p{ margin-bottom: 10px; font-size: 14px; font-family: "微软雅黑",sans-serif; line-height: 21px; color: #333; text-indent: 16px;}
.f3-sub a{ margin-right: 20px; font-size: 12px; font-family: "微软雅黑",sans-serif; line-height: 21px; color: #348cdd;}
.photoframe{ padding-left: 16px; }
.photoframe img{ width: 55px; height: 55px; margin-right: 9px; border-radius: 5px; }

.f4-sub{ width: 410px; height: 186px; margin: 0px auto; padding-top: 10px; padding-left: 10px;  background: #fff;border-radius: 5px; overflow: auto;  }
#text{font-size: 12px; font-family: "微软雅黑",sans-serif;color: #525252; line-height: 12px;}
#onoff{ width: 30px; height: 30px; background: rgba(0,0,0,0.4); position: absolute; right: -30px; top: -30px; border-radius: 15px; text-align: center; line-height: 30px; color: #fff; cursor: pointer; }

/*next*/
/*introduction*/
.intro-wrap{ margin-left: 32px; margin-top: 20px; }
#activity-intro{ width: 292px; height: 113px; resize: none;font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; text-indent: 14px;  }

#content-body{ padding-top: 44px; /* padding-bottom: 122px; */ }

/*contetn-left*/
/*	.content-left{ margin-left: 44px; margin-bottom: 90px; }
.content-left input{ height: 33px; width: 276px; padding-left: 14px; border-radius: 5px; outline: none; border: 1px solid #cacaca; font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif;}
.content-left label{   font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; }
.fill-wrap{ margin-bottom: 28px; }
.address-wrap{ margin-bottom: 18px; }
#map{ width: 290px; height: 226px; margin-left: 75px;  border: 1px solid #cacaca; border-radius: 5px;}
#title-input{ width: 207px; padding-left: 14px;}*/

/*content-right*/
.content-right{ margin-left: 48px; }

.content-right label{   font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; }
.content-right .small-icon{ width: 24px; height: 33px; background: #e9eaee url(../img/list/area_icon.png) no-repeat 7px 15px; border-radius: 0 5px 5px 0; position: absolute; right: 0px; top: 0px; }
.select-wrap{ line-height: 33px; margin-left: 32px; position: relative;}

#active-type-select{ width: 88px; position: absolute; right: 0; top: 35px; border: 1px solid #cacaca; display: none; }
#active-type-select li{ text-align: center;  font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; }
#active-type-select li:hover{ background: #f00; }
#active-status-select{ width: 88px; position: absolute; right: 0; top: 35px; border: 1px solid #cacaca; display: none; }
#active-status-select li{ text-align: center;  font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; }
#active-status-select li:hover{ background: #f00; }
.content-right .fill-wrap{ margin-left: 28px; margin-top: 22px; }
.content-right input[type=text]{ height: 33px; width: 282px; padding-left: 14px; border-radius: 5px; outline: none; border: 1px solid #cacaca; font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif;}
.content-right label{   font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; }

/*up-load*/
.upload-wrap{ margin-top: 25px; margin-left: 32px;}
.core{ width: 292px; height: 150px;  border: 1px solid #cacaca; border-radius: 5px;}
.main-control{ width: 67px; margin: 0 auto; margin-top: 40px;text-align: center;  position: relative; }
.main-control a { width: 67px; height: 67px; display: block; background: url(../img/list/upload_icon.png) no-repeat; }
.main-control span{ font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; }
.main-control input{ position: absolute; left: 0; top: 0; width: 67px; height:67px; outline: none; z-index: -1; }

/*introduction*/
.intro-wrap{ margin-left: 32px; margin-top: 22px; }
#activity-intro{ width: 292px; height: 113px; resize: none;font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; text-indent: 14px; border: 1px solid #cacaca; border-radius: 5px; }

/*submit*/
#submit-group{text-align: center;padding-bottom: 122px;}
#save{ width: 94px; height: 33px;font-size: 14px; color: #fff; border: none; cursor:pointer; font-family:"微软雅黑",sans-serif;font-weight: normal; background: #5890ff;  border-radius: 5px; line-height: 33px;text-align: center;}


