@charset "utf-8";
/* CSS Document */

/*reset*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select,figure { margin:0; padding:0; }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block};
em { font-style:normal; }
li { list-style:none; }
a{ text-decoration:none; outline:none; }
img { border:none; vertical-align:top; }
body { font-size:16px; font-family:"微软雅黑",sans-serif; background:#e9eaee;}

.clear{zoom:1;}
.clear:after{content:'';display:block;; clear:both;}
.fl{ float:left;}
.fr{ float:right;}
/*input{ -webkit-appearance:none; }*/
input:focus{ box-shadow:0px 0px 4px #357bff; }
/*reset end*/
/*header*/
header{ background: #fffffb; margin-bottom: 10px; }

#header-box{ width: 1200px; height: 40px; margin: 0 auto; }
#header-left img{ margin-top: 8px; margin-right: 30px; }
#header-left strong{ font-size: 14px; line-height: 40px; color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal; }

#header-right{ margin-right: 10px; position: relative;}
#header-right a:not(.not-float){ float: left; margin-top: 10px; margin-left: 36px; }
#header-right span{  width: 22px; height: 22px; float: left;}
#header-right a:nth-of-type(1) span{ background: url(../img/list/header_icon.png) no-repeat; }
#header-right a:nth-of-type(2) span{ background: url(../img/list/header_icon.png) no-repeat -58px 0; }
#header-right a:nth-of-type(3) span{ background: url(../img/list/header_icon.png) no-repeat -109px 0; }
#nav-list{ position: absolute; left: 36px; top: 40px; border: 1px solid #cacaca;  border-bottom: none; display: none; background: #fff; }
#nav-list li{ width: 130px; height: 40px; text-align: center; line-height: 40px; border-bottom: 1px solid #cacaca; color: #333;}
#nav-list li:hover{ background: #eee; }

/*container*/
#container{ width: 1200px; margin: 0 auto; background: #fbfbfb; border-radius: 5px; border: 1px solid #d4d4d4; }
/*main*/

.main-title{ height: 49px; border-bottom: 1px solid #d4d4d4; color: #333333;}
.main-title h2:nth-of-type(1) a,.main-title h2:nth-of-type(1) span{ font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal; line-height: 49px; margin-left: -4px; }
.main-title strong{ font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal;  margin-left: 16px;}

#add-active,#return{ width: 94px; height: 33px;font-size: 14px; color: #fff; font-family:"微软雅黑",sans-serif;font-weight: normal; margin-right: 14px; background: #5890ff; display: inline-block; border-radius: 5px; line-height: 33px;text-align: center; margin-top: 8px;}


#title-input{ width: 207px; padding-left: 14px;}


.wrap{ position: relative; width: 88px; height: 33px;   font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; border-radius: 5px;  border:  1px solid #cacaca; float: right;}
#active-type{ width: 88px; position: absolute; right: 0; top: 35px; border: 1px solid #cacaca; display: none; z-index: 100; }
#active-type li{ text-align: center;  font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; background: #999}
#active-type li:hover{ background: #f00; }

.wrap{ position: relative; width: 88px; height: 33px;   font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; border-radius: 5px;  border:  1px solid #cacaca; float: right; cursor: pointer;}
.select-result{  display: inline-block; width: 64px; text-align: center; }
.s1{ margin-left: 0; display: inline-block; width: 64px; text-align: center; }
#active-status{ width: 88px; position: absolute; right: 0; top: 35px; border: 1px solid #cacaca; display: none; }
#active-status li{ text-align: center;  font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; }
#active-status li:hover{ background: #f00; }
#search-bottom div:nth-of-type(3):not(.wrap){ margin-left: 60px; padding-left: 14px; }
#search-bottom .start,#search-bottom .to{ width: 90px; padding-left: 14px;}
#search-bottom div:nth-of-type(4):not(.wrap){ margin-right: 100px; }
#check{width: 90px; height: 33px;font-size: 14px; color: #fff; font-family:"微软雅黑",sans-serif;font-weight: normal; margin-right: 14px; background: #5890ff;  border-radius: 5px; line-height: 33px;text-align: center; outline: none; border: none;  cursor: pointer;}
/*result-group*/
.result-box{ width: 1175px; margin: 0 auto; border: 1px solid #cacaca; border-radius: 5px; border-bottom: none; }
.fill{ padding-top: 26px; background: #e6eeff; }


/*introduction*/
.intro-wrap{ margin-left: 32px; margin-top: 20px; }
/*#activity-intro{ width: 292px; height: 113px; resize: none;font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; text-indent: 14px;  }*/

#content-body{ padding-top: 44px; /* padding-bottom: 122px; */ }

/*contetn-left*/
.content-left{ margin-left: 84px; margin-bottom: 90px; width: 479px; }
.content-left input{ height: 33px; width: 280px; padding-left: 10px; border-radius: 5px; outline: none; border: 1px solid #cacaca; font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif;}
.content-left label{   font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; }
.fill-wrap{ margin-bottom: 28px; }
.address-wrap{ margin-bottom: 18px; }
#map{ width: 290px; height: 290px; margin-left: 75px;  border: 1px solid #cacaca; border-radius: 5px;}
#title-input{ width: 207px; padding-left: 14px;}
/*tip*/
.left-tip{ line-height: 35px; display: none;  font-size: 12px; color: #f00; font-family:"微软雅黑",sans-serif;  text-indent: 28px; background: url(../img/list/error.png) no-repeat 6px 10px; }
.right-tip:not(#right-tip){ line-height: 152px; display: none;  font-size: 12px; color: #f00; font-family:"微软雅黑",sans-serif;  text-indent: 28px; background: url(../img/list/error.png) no-repeat 6px 70px;  }
#right-tip{ line-height: 35px; margin-right: 20px; display: none;  font-size: 12px; color: #f00; font-family:"微软雅黑",sans-serif;  text-indent: 28px; background: url(../img/list/error.png) no-repeat 6px 70px;}
/*城市*/
.city-box{ margin-bottom: 28px; line-height: 35px;  position: relative; width: 408px; }
.city-box span{ font-size: 12px; font-family: "微软雅黑",sans-serif; color: #9b9b9b;}
.city-wrap{width: 290px; height: 33px; position: relative; left: -9px; font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; border-radius: 5px;  border:  1px solid #cacaca; float: right; cursor: pointer;}
.city-wrap span{font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; margin-left: 10px;}
#city-select{width: 290px; position: absolute; right: 0px; top: 34px; border: 1px solid #cacaca; z-index: 9999; background: #fff; border-bottom: none; display: none; }
#city-select li{ text-align: center; font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; border-bottom: 1px solid #cacaca; }
#city-select li:hover{ background: #eee; }
.city-box em{ background: #e9eaee; display: inline-block; width: 24px; height: 33px; border-radius: 0 5px 5px 0; position: relative;   }
.city-box .small-icon{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 10px solid #7d7d7d; position: absolute; right: 7px; top: 14px; }
/*content-right*/
.content-right{ margin-left: 48px; width: 586px; }

.content-right label{   font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; }
.content-right em{ background: #e9eaee; display: inline-block; width: 24px; height: 33px; border-radius: 0 5px 5px 0; position: relative;   }
.content-right .small-icon{ width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 10px solid #7d7d7d; position: absolute; right: 7px; top: 14px;}
.select-wrap{ line-height: 33px; margin-left: 32px; position: relative;}

#active-type-select{ width: 88px; position: absolute; right: 0; top: 35px; border: 1px solid #cacaca; display: none;z-index: 9999; background: #fff; cursor: pointer; }
#active-type-select li{ text-align: center;  font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; }
#active-type-select li:hover{ background: #eee;  }
#active-status-select{ width: 88px; position: absolute; right: 0; top: 35px; border: 1px solid #cacaca; display: none; z-index: 9999; background: #fff; cursor: pointer;}
#active-status-select li{ text-align: center;  font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; }
#active-status-select li:hover{ background: #eee; }
.content-right .fill-wrap{ margin-left: 28px; margin-top: 22px; }
.content-right input[type=text]{ height: 33px; width: 290px; padding-left: 8px; border-radius: 5px; outline: none; border: 1px solid #cacaca; font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif;}
.content-right label{   font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; }

#d422,#d242,#d243{ width: 88px; padding-left: 4px; background: none; }
/*up-load*/
.upload-wrap{ margin-top: 25px; margin-left: 32px;}
.core{ width: 292px; height: 150px;  border: 1px solid #cacaca; border-radius: 5px; position: relative; margin-bottom: 6px;}
.main-control{ width: 100px; margin: 0 auto; margin-top: 40px;text-align: center;  position: relative; z-index: 11; }
.main-control em { width: 67px; height: 67px; margin: 0 auto; display: block; background: url(../img/list/upload_icon.png) no-repeat; cursor: pointer; }
.main-control span{ font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333; }
.main-control input{ position: absolute; left: 0; top: 0; width: 67px; height:67px; outline: none; z-index: -111; visibility: hidden;}
.photoframe{position: absolute; top: 0; left: 0; z-index: 3; }
.photoframe img{width: 292px; height: 150px; border-radius: 5px; }
/*introduction*/
.intro-wrap{ margin-left: 32px; margin-top: 22px; }
#activity-intro{ width: 292px; height: 167px; padding-top: 6px; resize: none;font-size: 14px; font-family: "微软雅黑",sans-serif; color: #333;border: 1px solid #cacaca; border-radius: 5px; }

/*submit*/
#submit-group{text-align: center;padding-bottom: 122px;}
#save,#cancel,#cut-btn,#another{ width: 94px; height: 33px;font-size: 14px; color: #fff; border: none; cursor:pointer; font-family:"微软雅黑",sans-serif;font-weight: normal; background: #5890ff; outline: none; border-radius: 5px; line-height: 33px;text-align: center;}

/*mask*/
#mask{ width: 100%; height: 100%; background: rgba(0,0,0,0.6); position: fixed; top: 0; left: 0; z-index: 9999; display: none;}
#cut-box{ width: 500px; margin: 0 auto; margin-top: 100px; }
.cropper{ text-align: center; margin-top: 30px; }
#cut-btn,#another{ background: #f00; }

/*问题配置*/
#question{ width: 20px; height: 20px; display: inline-block; margin-left: 20px; margin-right: 20px; margin-top: 10px; position: relative;top: 5px; }
#sign-btn{width: 94px; height: 33px; display: none; font-size: 14px; color: #fff; border: none; cursor:pointer; font-family:"微软雅黑",sans-serif;font-weight: normal; background: #5890ff;  border-radius: 5px; line-height: 33px;text-align: center;}