@charset "utf-8";
/* CSS Document */

/*reset*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select,figure { margin:0; padding:0; }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block};
em { font-style:normal; }
li { list-style:none; }
a{ text-decoration:none; outline:none; }
img { border:none; vertical-align:top; }
body { font-size:16px; font-family:"微软雅黑",sans-serif; background:#e9eaee;}
table { border-collapse:collapse; }

.clear{zoom:1;}
.clear:after{content:'';display:block;; clear:both;}
.fl{ float:left;}
.fr{ float:right;}
input{ -webkit-appearance:none; }
input:focus{ box-shadow:0px 0px 4px #357bff; }
/*reset end*/
/*header*/
header{ background: #fffffb; margin-bottom: 10px; }

#header-box{ width: 1200px; height: 40px; margin: 0 auto; }
#header-left img{ margin-top: 8px; margin-right: 30px; }
#header-left strong{ font-size: 14px; line-height: 40px; color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal; }

#header-right{ margin-right: 10px; position: relative;}
#header-right a:not(.not-float){ float: left; margin-top: 10px; margin-left: 36px; }
#header-right span{  width: 22px; height: 22px; float: left;}
#header-right a:nth-of-type(1) span{ background: url(../img/comment/header_icon.png) no-repeat; }
#header-right a:nth-of-type(2) span{ background: url(../img/comment/header_icon.png) no-repeat -58px 0; }
#header-right a:nth-of-type(3) span{ background: url(../img/comment/header_icon.png) no-repeat -109px 0; }
#nav-list{ position: absolute; left: 36px; top: 40px; border: 1px solid #cacaca;  border-bottom: none; display: none; background: #fff; }
#nav-list li{ width: 130px; height: 40px; text-align: center; line-height: 40px; border-bottom: 1px solid #cacaca; color: #333;}
#nav-list li:hover{ background: #eee; }

/*container*/
#container{ width: 1200px; margin: 0 auto; background: #fbfbfb; border-radius: 5px; border: 1px solid #d4d4d4; }
/*main*/

.main-title{ height: 49px; border-bottom: 1px solid #d4d4d4; color: #333333;}
.main-title h2:nth-of-type(1) a{ font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal; line-height: 49px; margin-left: -4px; }
.main-title strong{ font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal;  margin-left: 16px;}

.main-title h2:nth-of-type(2){}
#return{ width: 94px; height: 33px;font-size: 14px; color: #fff; font-family:"微软雅黑",sans-serif;font-weight: normal; margin-right: 14px; background: #5890ff; display: inline-block; border-radius: 5px; line-height: 33px;text-align: center; margin-top: 8px;}


/*operate*/
/*result-unit*/
.s-unit{ height: 155px; padding-top: 22px; padding-bottom: 38px;  }
.s-unit figure{ margin: 0px 30px 0px 16px; }
.s-unit img{ width: 236px; height: 155px; }
#fix{ width: 236px; height: 155px; }

.activity-details{ }
.activity-details p{ margin-bottom: 8px; line-height: 14px; }
.activity-details span{  font-size: 14px; color: #454545; font-family:"微软雅黑",sans-serif;font-weight: normal; }
#activity-title{ margin-bottom: 10px;  font-size: 16px; color: #454545; font-family:"微软雅黑",sans-serif;font-weight: normal; line-height: 16px; }


/*main*/
.main-top{ height: 39px; padding-right: 12px; text-align: right; position: relative; line-height: 38px;}
#status-list{ position: absolute; left: 12px; top: 1px;}
#status-list a{ width: 70px; height: 37px; float: left; text-align: center; font-size: 14px; color: #333; font-family:"微软雅黑",sans-serif;border: 1px solid #fff;border-bottom: 1px solid #d7d7d7;  }
#fresh{ width: 88px; height: 33px; margin-right: 4px; font-size: 14px; color: #fff; font-family:"微软雅黑",sans-serif;font-weight: normal; background: #5890ff; display: inline-block; border-radius: 5px; line-height: 33px;text-align: center; outline: none; border: none; cursor: pointer;}

#status-list .active{ background: #e6eeff;border: 1px solid #d7d7d7; border-bottom:1px solid #e6eeff; border-radius: 5px 0 0 0; }

/*table*/
.main-body{ width: 1175px; margin: 0 auto;padding-bottom: 100px;border: 1px solid #d7d7d7; border-radius: 0 5px 5px 5px;}
#main-table{ width: 1175px; margin: 0 auto; }
thead td{ height: 40px; font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif; text-align: center; background: #e6eeff; border-right: 1px solid #d7d7d7; }
thead td:last-child{ border-right: none; }
thead td:nth-of-type(1){width: 449px;}
thead td:nth-of-type(2){width: 205px;}
thead td:nth-of-type(3){width: 159px;}
thead td:nth-of-type(4){width: 180px;}
thead td:nth-of-type(5){width: 179px;}

/*tbody*/
tbody td{ border-bottom: 1px solid #d7d7d7;border-right: 1px solid #d7d7d7; }
tbody tr td:last-child{ border-right: none; }
.cell{ height: 130px; text-align: center; line-height: 130px;  }
.cell img{ height: 110px; width: 168px; margin-top: 10px; }
tbody td:nth-of-type(1) p{width: 408px; padding: 0 20px;}
tbody p{ font-size: 14px; color: #333333; font-family:"微软雅黑",sans-serif;  text-align: center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }
tbody .not{ color: #f00; }
tbody .already{ color: #00ff54; }
tbody #none{ height: 40px; line-height: 130px; text-align: center; border-top:  1px solid #d7d7d7; display: none; }
tbody #none h1{  color: #333333; font-family:"微软雅黑",sans-serif; font-weight: normal; }



.btn-wrap{ text-align: center; }
.show-it,.remove-it{ width: 80px; height: 28px;margin-top: 10px;  margin-bottom: 10px; font-size: 14px; color: #fff; font-family:"微软雅黑",sans-serif;font-weight: normal; background: #5890ff; display: inline-block; border-radius: 5px; line-height: 28px;text-align: center; }
.remove-it{ margin-bottom: none; }


/*page*/
#paging-box{ padding: 30px 0; text-align: center;}
#paging-box li{  display: inline-block; margin: 0 5px; height: 23px;border: 1px solid #dcdcdc; line-height: 23px; }
#paging-box a{  padding: 0 10px; color: #9e9d9d;font-size: 16px; font-family: "微软雅黑",sans-serif;  }
#paging-box .now-page{  border: 1px solid #5890ff; background: #5890ff; color: #fff;  }
#paging-box .now-page a{color: #fff;}
#paging-box .disabled{ visibility: hidden; }