@charset "utf-8";
/* CSS Document */

/*reset*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select,figure { margin:0; padding:0; }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block};
em { font-style:normal; }
li { list-style:none; }
a{ text-decoration:none; outline:none; }
img { border:none; vertical-align:top; }
body { font-size:16px; font-family:"微软雅黑",sans-serif; background:#e9eaee;}

.clear{zoom:1;}
.clear:after{content:'';display:block;; clear:both;}
.fl{ float:left;}
.fr{ float:right;}

html{ width: 100%; height: 100%;  }
body{ padding-bottom: 14px; background: url(../img/wall/wall_bg.jpg) no-repeat; background-attachment: fixed; background-size: cover; overflow: hiddden; }

/*header*/
	#header-box{
		width: 1198px;
		height: 128px; 
		margin: 12px auto; 
	

		background: url(../img/wall/header_bg.jpg);
		border:1px solid #d4d4d4;
		border-radius: 3px;
	}
	#logo-wrap{
		margin: 9px 30px 0 16px;
	}
	#title-wrap{
		width:792px;
		padding-top: 26px;
		
	}
	#title{
		font-size: 36px;
		font-family:"微软雅黑",sans-serif; 
		color: #fff;
		font-weight: normal;
		line-height: 46px;/* 双行 */
		text-align: center;

	}
	#sign{
		margin-right: 17px;
		margin-top: 18px;
	}
	#pic-frame{
		width: 94px;
		height: 94px;
	}
	#pic-frame img{
		width: 94px;
		height: 94px;
	}
	#tip{
		margin-left: 4px;
		padding-top: 6px;
	}
	#tip h5{
		width: 20px;

		font-size: 20px;
		font-family:"微软雅黑",sans-serif;
		font-weight: normal;
		line-height: 20px;
		color: #fff;
	}
	#number{
		padding-top: 4px;
		margin-left: 10px;
	}
	#number h3{
		font-size: 24px;
		font-family:"微软雅黑",sans-serif;
		font-weight: normal;
		color: #fff;
	}
	#total{
		font-size: 30px;
		font-family:"微软雅黑",sans-serif;
		font-weight: normal;
		color: #fff;
		text-align: center;
	}

	/*content*/
	#main{
		width: 1198px;
		height: 600px; 
		margin: 0 auto;
		
		background: url(../img/wall/main_bg.jpg) no-repeat;
		background-size: cover;
		border:1px solid #d4d4d4;
		border-radius: 3px;
	}

	/* main */
	#main-box{
		width: 1198px;
		height: 600px; 
		/*padding-top: 10px;*/
		
		position: relative;
		overflow: hidden;
	}
	#main-list{
		/*height: 600px; */
		/*padding-top: 10px;*/

		position: absolute;
		top: 0px;
	}
	.unit{
		
		/*margin-bottom: 10px;*/
		margin-top: 11px;
		margin-left: 10px;
		
	}
	.head-img{
		margin-right: 32px;
	}
	.head{
		
		width: 78px;
		height: 78px;

		display: block;
	}
	.head-img img{
		width: 78px;
		height: 78px;
		

		border: 1px solid #fff;
		border-radius: 5px;
	}
	.content{
		width: 994px;
		min-height: 168px;
		padding: 8px 36px 8px 20px;

		position: relative;

		background: rgba(38,38,38,0.6);
		border:1px solid #fff;
		border-radius: 5px;
	}
	.triangle{
		width: 25px;
		height: 25px;
		display: block;

		position: absolute;
		top: 28px;
		left: -25px;

		background: url(../img/wall/triangle.png) no-repeat;
	}
	.text{
		width: 994px;
		font-size: 30px;
		word-wrap: break-word;
		font-family:"微软雅黑",sans-serif;
		font-weight: normal;
		color: #fff;
		line-height: 54px;
	}
	.content-pic{
		width: 166px;
		height: 166px;
	}